@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  box-sizing: border-box;
  background-color: white;
  font-family: "Manrope";
}

.video-element {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
